body {
    background-color: rgb(154, 164, 175);
}

.title:visited, a:visited {
    color: black;
}

.title:hover, a:hover{
    color: white;
}
.title, a {
    color: rgb(71, 82, 164);
}

.head {
    color:white;
    font-size: 50px;
    font-weight: bolder;
    background-color: slategray;
    width: fit-content;
    padding: 20px 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 40px;
}

button {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    align-content: center;
}

nav {
    width: 200px;
    height: 100vh; /* Full viewport height */
    background-color:rgb(154, 164, 175);
    border: 10px solid slategray;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.weather-table {
    background-color: black;
    color: red;
}

.container {
    margin-left: 190px;
}

.dt-search, .check {
    background-color: white;
    width: fit-content; 
    padding: 8px; 
    font-size: 14px; 
    border: 2px solid #000000; 
    border-radius: 5px; 
} 

